{% extends "_base.html" %}

{% block content %}

<div class="row">
    <p><a href='/' class='btn btn-primary button_style' role='button'><span class='glyphicon glyphicon-chevron-left'></span> Back</a></p>
</div>

<div class="row">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date (UTC)</th>
                <th>Host</th>
                <th>User</th>
                <th>Playbook</th>
                <th>Log</th>
            </tr>
        </thead>
        <tbody>
        {% for history in histories %}
            <tr>
                <td>{{ history.task_date.strftime("%d/%m/%y %H:%M") }}</td>
                <td>{{ history.hostname }}</td>
                <td>{{ history.poster.name }}</td>
                <td>{{ history.playbook }}</td>
                <td><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myOutput{{ history.task_id }}">Output</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% for history in histories %}
<!-- Modal -->
<div class="modal fade" id="myOutput{{ history.task_id }}" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Task Output</h4>
      </div>
      <div class="modal-body output_history">
          {{ history.output | safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endfor %}

{% endblock %}
