{% extends "_base.html" %}

{% block content %}

<!-- <div class="header">
    <h3 class="text-muted">Ansible Playbook Launcher</h3>
</div> -->

<div class="header clearfix row">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="{{ url_for('history') }}">History</a></li>
        <li role="presentation"><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Ansible Playbook Launcher</h3>
</div>

<form class="form-sigin row" role="form" method="post" action="/">
{{ form.csrf_token }}
    <div class="row">
        <div class="col-md-4">
            <h4>Type your bootstrap host</h4>
            <p>This host will be used for configuring your system</p>
            <p>
            {{ form.hostname(placeholder="hostname", class="form-control") }}
            <span class="error">
                {% if form.hostname.errors %}
                    {% for error in form.hostname.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </span>
            </p>
        </div>
        <div class="col-md-4">
            <h4>Select playbook</h4>
            <p>Select subsystem which you want to re-configure</p>
            {{ form.playbook(class="form-control") }}
            </p>
        </div>
        <div class="col-md-4">
            <h4>Output</h4>
            <p>Select debug level for Ansible output</p>
            <br>
            <p>
            {{ form.output_level(class="form-control") }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <br>
            <button class="btn btn-primary button_style" type="submit">Ansible Run <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
    </div>
</form>


{% endblock %}