{% extends "_base.html" %}

{% block content %}

<div class="row">
    <p><a href='/' class='btn btn-primary button_style' role='button'><span class='glyphicon glyphicon-chevron-left'></span> Back</a></p>
</div>

<div class="row">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Created at (UTC)</th>
                <th>Name</th>
                <th>Email</th>
                <th>User Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
              <td>01/07/17 18:46</td>
              <td>{{ user.name }}</td>
              <td>ipeacocks@example.com</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Remove</a></li>
                  </ul>
                </div>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}



