{% extends "_base.html" %}

{% block content %}

<div class="row">
    <p><a href='/' class='btn btn-primary button_style' role='button'><span class='glyphicon glyphicon-chevron-left'></span> Back</a></p>
</div>

<div>
    <form class="form-users" role="form" method="post" action="/users">
      {{ form.csrf_token }}
      <div class="row">
          <table class="table table-striped">
          <thead>
            <tr>
                <th class="col-md-3">username</th>
                <th class="col-md-2">email</th>
                <th class="col-md-3">password</th>
                <th class="col-md-2">admin</th>
                <th class="col-md-3"></th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <td>
          {{ form.name(placeholder="name", class="form-control") }}       
          <span class="error">
              {% if form.name.errors %}
                  {% for error in form.name.errors %}
                      {{ error }}
                  {% endfor %}
              {% endif %}
          </span>
          </td>
          <td>
          {{ form.email(placeholder="email", class="form-control") }}
          <span class="error">
              {% if form.email.errors %}
                  {% for error in form.email.errors %}
                      {{ error }}
                  {% endfor %}
              {% endif %}
          </span>
          </td>
          <td>
          {{ form.password(placeholder="password", class="form-control") }}
          <span class="error">
              {% if form.password.errors %}
                  {% for error in form.password.errors %}
                      {{ error }}
                  {% endfor %}
              {% endif %}
          </span>
          </td>
          <td>
          {{ form.adminorno(placeholder="adminorno", class="btn btn-default active center-block") }}
          <span class="error">
              {% if form.adminorno.errors %}
                  {% for error in form.adminorno.errors %}
                      {{ error }}
                  {% endfor %}
              {% endif %}
          </span>
          </td>
          <td>
              <button class="btn btn-primary button_style_users" type="submit">Add</button>
          </td>
        </tr>
      </tbody>
      </div>
    </form>
</div>

<div class="row">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-3">created at (UTC)</th>
                <th class="col-md-2">name</th>
                <th class="col-md-3">email</th>
                <th class="col-md-2">admin</th>
                <th class="col-md-3">action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
              <td>{{ user.create_date.strftime("%d/%m/%y %H:%M") }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>X</td>
              <td>
                  <a href="{{ url_for('delete_entry', user_id = user.id) }}" class="btn btn-danger btn-sm button_style_users" role="button"><span class="glyphicon glyphicon-trash"></a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
